{% load compress %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'front-end/runtime-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/polyfills-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/styles-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/vendor-es2015.js' %}"></script>
<script type="text/javascript" src="{% static 'front-end/main-es2015.js' %}"></script>
<!-- {% compress js %} -->
<!-- {% endcompress %} -->